

.btnDon {
  display: block;
  border: none;
  color: rgb(6, 6, 6);
  padding: 1rem 10rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  margin: 0;
}
.primaryDon {
  background: #6cb4ef;
  color: white;
}
.primaryDon:hover {
  background-color: white;
  border: 2px solid #6cb4ef;
  color: rgb(107, 106, 106);
}

.textButtonDon{
font-size: 12px;
}