.containerButtonDon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap:15px;
}

.btnDon1 {
  border: none;
  color: rgb(6, 6, 6);
  padding: 1rem 10rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.btnDon2 {
  border: none;
  color: rgb(5, 85, 18);
  padding: 1rem 10rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.primaryDon1 {
  background: #6cb4ef;
  color: white;
}

.primaryDon2 {
  background: #5e9c62;
  color: white;
}

.primaryDon1:hover {
  background-color: white;
  border: 2px solid #6cb4ef;
  color: rgb(93, 182, 214);
}

.primaryDon2:hover {
  background-color: white;
  border: 2px solid #5e9c62;
  color: rgb(12, 132, 56);
}

.textButtonDon {
  font-size: 12px;
}

/* CENTRADO DEL TEXTO DEL BOTON EN MOBILE */
@media (max-width: 768px) {
  .btnDon1 {
    padding: 1rem 2rem; /* Modifica el padding para dispositivos móviles */
    
  }
  .btnDon2 {
    padding: 1rem 2rem; /* Modifica el padding para dispositivos móviles */
   
  }
}
