.containerDetails{
   
    text-align: center;
    padding: 20x;
    margin-top: 15px;
    margin: auto;
}

.containerDetailsInt{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .containerDetailsInt {
  width: auto;
  padding-left: 20rem;
  padding-right: 20rem;
  }
  .containerImg{
    width: auto;
    padding-left: 30rem;
  padding-right: 30rem;
  }
  
}
.containerDetailsInt p{
  margin-top: 15px;
  color:#929191 ;
  text-align: justify;

}

  .IconCss{
    font-size: 25px;
    color:#424242;
    margin-top: 15px;
    margin-right: 20px;
  }

.containerImg{
  width: 100%;
  min-height: 30%;
}

.containerImg img{
  width: 100%;
}
