.classContainerFin img {
  /* centrar imagen */
  display: block;
  margin: auto;
}
.classContainerFin p{
font-size: 1.1rem;
}

@media (min-width: 768px) {
  .classContainerFin {
    padding-left: 13rem;
    padding-right: 13rem;
    padding-top: 2rem;
    text-align: justify;
    width: 100%;
    line-height: 2rem;
    color: rgb(139, 139, 137);
  }
}
