.containerNewHistory {
  padding-top: 1rem;
  /* cursor: pointer;  */
  /* cursor activo al pasar */

  background: #fff;
  color: #d32f2f;
  text-align: center;
  margin: 1rem 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border: 1px solid #d32f2f;
  transition: background 0.2s, color 0.2s, transform 0.2s;
}

.containerNewHistory h3,
.containerNewHistory p {
  color: #d32f2f;
  text-align: center;
}