.container{
    width: 90%;
}

.ContainerServ{
    /* width: 90%;
    margin-left: 20px;
    margin-right: 20px */
    
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(220px,1fr)); */
 
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    /* altura de la card */
    grid-auto-rows: minmax(200px,auto);
    gap:15px;
    margin-top: 20px;

    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; */
}

.Card{
    margin-top: 15px;
    padding: 1rem;
    
}

.Card p,a{
    text-align: justify;
    /* font-family: Garamond, serif; */
    font-family: "ArIaL", serif;
    color: #2F4F4F;
    padding: 1.2rem;
}


.Card h5{
    color: black;
}

.CardCont {
    border: 1px solid #eeeaea; 

}

.CardCont p{
 color: #999898;
 line-height: 2rem;
}

.titServ{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    color: black;

}
/* 
.titCard{
display: grid;
grid-template-columns: 15% 60%;
text-align: center;
margin: auto;
} */

.Card img{
    width: 100%;
    height: 270px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.classPortada{
    text-align: justify;
    margin-top: 5px;
    /* font-family: Garamond, serif; */
    font-family: "ArIaL", serif;
    font-size: 17px;
padding: 1rem;
}

.classPortada p{
    color: #8f8d8d;
    line-height: 2rem;
}

.IconService{
    font-size: 25px;
    color: #5F9EA0;
    margin-top: 10px;
 
}

.Card3{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  grid-auto-rows: minmax(200px,auto);
  gap:15px;
  margin-top: 20px;
  padding: 1rem;
}



.ImgClass img{
width: 100%;
}

.servicio{
display: grid;
grid-template-columns: auto auto;
margin-top: 10px;
margin-left: 10px;
}

.servicio h5{
    color:black;
    font-size: 1rem;
    font-family: "ArIaL", serif;
    /* font-family: Garamond, serif; */
}



.servSitioWeb p{

    margin-top: 10px;
    text-align: justify;
    color: #999898;
    font-family: "ArIaL", serif;
    /* font-family: Garamond, serif; */
    padding: 1.2rem;
}


/* PANTALLA GRANDE */
/* 
@media (min-width: 600px){
    .grid-container{
        gap: 20px;
        grid-template-columns: 20% 80%; 
        grid-template-areas: 
      
        "titServA titServB"
    }
    .ContainerServ{
        width: 90%;
        margin-left: 40px;
        margin-right: 40px
    }
    
    .ContainerServ2{
    width: 80%;
    margin-left: 60px;
    margin-right:60px;
    }
    
} */

/* @media (min-width: 900px){
    .grid-container{
        margin-top: 10px;
        gap: 20px;
        grid-template-columns: 20% 80%; 
        grid-template-areas: 
        "titServA titServB"
    }
} */
.containerDescription{
    width: 90%;
}

.carousel{
text-align: center;
padding: 1rem;
width: 100%;
border: 1.5px solid #ebe9e9;
}

.carousel-item{
    background-color: white;
    height: 30rem;
    padding-top: 15px;

}

.carousel-control-prev-icon{
    background-color: #ebe9e9;
    padding: 1.5rem;
}

.carousel-control-next-icon{
    background-color: #ebe9e9;
    padding: 1.5rem;
}