/* .containerHistory{
   width: 100%;
   padding: 1rem;
   text-align: justify;
   line-height: 1.8rem;
   color:rgb(139, 139, 137)
} */
/* 
@media (min-width: 768px) {
    .containerHistory {
        padding-left: 13rem;
        padding-right: 13rem;
        text-align: justify;
        line-height: 2.5rem;
    }
  } */