
.classContainerVar p {
  font-size: 1.1rem;
}

.classContainerVar span {
  font-size: 1.1rem;
  font-weight: bold;
}

.classContainerVar {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  text-align: justify;
  width: 100%;
  line-height: 2rem;
  color: rgb(139, 139, 137);
}

.classContainerVar img {
  display: block;
  margin: auto;
  padding: 0.7rem;
  width: 99%;
}

/* ESCRITORIO CEL HORIZONTAL*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  .classContainerVar {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    text-align: justify;
    width: 100%;
    line-height: 2rem;
    color: rgb(139, 139, 137);
  }
  .classContainerVar img {
    display: block;
    margin: auto;
    padding: 1rem;
    width: 75%;
    height: 45rem;
  }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 896px){
  .classContainerVar {
    padding-left: 13rem;
    padding-right: 13rem;
    padding-top: 2rem;
    text-align: justify;
    width: 100%;
    line-height: 2rem;
    color: rgb(139, 139, 137);
  }
  .classContainerVar img {
    display: block;
    margin: auto;
    padding: 1rem;
    width: 75%;
    height: 45rem;
  }
}

/* Tablets de baja resolución y teléfonos Móviles (horizontal)  */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  .classContainerVar {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    text-align: justify;
    width: 100%;
    line-height: 2rem;
    color: rgb(139, 139, 137);
  }
  .classContainerVar img {
    display: block;
    margin: auto;
    padding: 1rem;
    width: 75%;
    height: 45rem;
  }
} */


/* ESCRITORIO */
@media only screen and (min-width : 1824px){
  .classContainerVar {
    padding-left: 13rem;
    padding-right: 13rem;
    padding-top: 2rem;
    text-align: justify;
    width: 100%;
    line-height: 2rem;
    color: rgb(139, 139, 137);
  }
  .classContainerVar img {
    display: block;
    margin: auto;
    padding: 1rem;
    width: 75%;
    height: 45rem;
  }
}
