* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 90px 20px 0;
  }
  
  .header {
    background-color: #070708;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }


  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }

 
.nav-menu li{
position: relative;
list-style: none;
/* display: inline-block; */
margin: 0 20px;
color: white;
}


  /* con esto le ponemos una linea con transicion en los items del menu */
.nav-menu li::before{
  content:"";
  height: 3px;
  width: 0%;
  background-color: aliceblue;
  position: absolute;
  left: 0;
  /* mientras mas px tenga menos separada estara la linea del item */
  bottom: 30px;
  transition: 0.4s ease-out;
}

.nav-menu li:hover::before{
  width: 100%;
}

  
  .nav-menu-item {
    font-size: 12px;
    margin: 0 10px;
    line-height: 90px;
    text-transform: uppercase;
    width: max-content;

  }
  
  /* .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  } */
  
  /* .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #034574;
    transition: 0.5s;
  } */
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
  
.container{
  width: 90%;
}


.IconSideBar{
  font-size: 25px;
  color: white;
  margin-right: 5px;

}

  /* MOBILE */
  @media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
  
    .header {
      height: 60px;
    }
  
    .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #2c3e50;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }


  /* con esto le ponemos una linea con transicion en los items del menu */
    .nav-menu li::before{
      content:"";
      height: 3px;
      width: 0%;
      background-color: white;
      position: absolute;
      left: 0;
      bottom: 20px;
      transition: 0.4s ease-out;
    }
    
    .nav-menu li:hover::before{
      width: 100%;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
    
    .select{
      margin-top: 50px;
      width: 100%;
    }

  }
  
  .select{
    margin-top: 20px;
    width: 40%;
  }

